{% extends './base.html.twig' %}

{% block title %}Problèmes{% endblock %}

{% block breadcrumb %}
	<h4 class="page-title">Problèmes</h4>
	<div class="d-flex align-items-center">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{ path('default_index') }}">Accueil</a></li>
				<li class="breadcrumb-item active" aria-current="page">Problèmes</li>
			</ol>
		</nav>
	</div>
{% endblock %}

{% block container %}

{% endblock %}
